* {
    margin:0;
    padding:0;
    
}


:root {
    --special-text: #D2B48C;
    --background-light : #FFFFFF;
    --text-light:#0A192F;
    --subTitle-color:#444444;
    --background-dark : #0A192F;
    --text-dark : #E6E6FA;

}

.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}


a {
    color: var(--text-light);
    text-decoration: none;
    cursor: pointer;
}

body {
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:80px 40px 20px 40px;
    background-color: var(--background-light);
    color: var(--text-light);
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans';
    font-weight: 200;


}
.container {
    width:55%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.btn { 
    background-color: red;
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    width:40%;
}

header nav #container__header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

header nav  {
    list-style: none;
    font-weight: 600;
    font-size:18px;
}

#toggle__mode {
    width:30%;
    display: flex;
    justify-content: end;
    cursor: pointer;

}

#special-text{
    color:var(--special-text);
    font-weight: 800;

}

main {
    flex: 1;
    margin: 100px 0px;
}
main #introduction h3, h4 {
    font-weight: 300;
    line-height: 40px;
    font-size:40px;

}

main #introduction  h4 {
    font-weight: 200;
    line-height: 38px;
    font-style: italic;
    font-size:20px;



}


#portofolio {
    margin-top:70px;
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;

}

#portofolio a {
    color: var(--text-light);

}

.portofolio__container {
   justify-content: space-between;
   gap:20px;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
    width: 100%;
}

#portofolio h3 { 
    font-size:22px;
    font-weight: 400;
}


.portofolio__detail {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap:4px;
    align-items: center;
    cursor: pointer;

}

.portofolio__detail h4 {
    font-size:14px;
}




#card {
  /* width:px; */
  width:28%;
  height:auto;
  overflow: hidden;
  gap:5px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  border-radius: 20px;
  padding:5px;

}


.card__header {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

#card .card__header h4 {
    font-weight:500;
    font-size:14px;
    font-style: normal;

}

#card .card__header img  {
    width:24px;
    height:24px;
    cursor: pointer;
}


.card__header__icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card__header__icon img {
    width:24px;
    height:24px;
}
.card__img{
    width: 100%;
    border-radius: 10px;

}

#card__img__data {
    width:100%;
    border-radius: 10px;

}

#card .card__info h5 {
    font-size:14px;
    color:var(--subTitle-color);
    line-height:18px;
    font-weight: 400;
}



#card .card__info .card__button__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    gap:10px;
    margin-top:10px;
    justify-content: flex-start;
}
#card .card__info .card__button__container .card__button_hastag {
    font-size:14px;
    line-height: 18px;
    padding:8px;
    height:20px;
    font-weight: 600;
    color:var(--text-dark);
    background-color: var(--background-dark);
    border-radius: 10px;
    text-align: center;
}


#blog {
    margin-top:70px;
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;


}

#blog a {
    color: var(--text-light);

}

.blog__container {
   justify-content: flex-start;
   gap:30px;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
    width: 100%;


}

#blog h3 { 
    font-size:22px;
    font-weight: 400;
}


.blog__detail {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap:4px;
    align-items: center;
    cursor: pointer;

}

.blog__detail h4 {
    font-size:14px;
}


#blog__data{
    display: flex;
    flex-direction: row;
    gap:16px;
    width:40%;
    cursor: pointer;
}

#blog__data img {
    width:160px;
    height:90px;
    border-radius: 10px;
}

.blog__info{
    display: flex;
    flex-direction: column;
    gap:4px;
    align-items: flex-start;
    justify-content: center;
}

.blog__info h4 {
    font-size:15px;
    line-height: 15px;
    font-weight:600;
    width:80%;

}


.blog__info h5 {
    font-size:12px;
    font-weight:300;
}



.about__text {
    margin-top:30px;
    font-size:18px !important;
    line-height:12px;
    font-weight:300;
}


footer {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap:10px;
}


footer h5{
    font-size:12px;
    font-weight:300;
}


footer img{
    width:20px;
    height:20px;
}

.socmed__icon {
    display: flex;
    flex-direction: row;
    gap:14px;
}